<section class="hero is-dark">
  <div class="hero-body">
    <%= image_tag("logo.jpg") %>
    <div align="right">
      <p class="title">
        Edu Lab
      </p>
      <p class="subtitle">
        Platforma edukacyjna
      </p>
    </div>
  </div>
</section>
